<div class="jumbotron">
    <h1>M2 Business Intelligence</h1>
    <p class="lead">We are team M2, focused on study success! </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>API</h2>
        <p>We have a we API to consume data from many sources we found, available formats are JSON and XML</p>
        <p><a class="btn btn-default" href="./Help">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SQL Server on AZURE</h2>
        <p>Our datawarehouse is a SQL server database hosted on AZURE</p>
    </div>
    <div class="col-md-4">
        <h2>Excel PowerPivot Dashboard</h2>
        <p>Too make analytics easier and a nice dashboard look and feel, excel is connected to our datawarehouse and uses PowerPivot as analytical tool</p>
    </div>
</div>
